.accordion {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: $line-height 0;
    border: 1px solid $black;
    .click-element {
        cursor: pointer;
    }
    .content-wrapper {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
    }
}
