.accordion {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: $line-height 0;
    border: 1px solid $black;
    @extend %accordion;
    .click-element {
        cursor: pointer;
    }
}
