.main-navigation {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 100%;
    background: fuchsia;
    z-index: 1;
    &.activated {
        transform: translate3d(0, 100%, 0);
    }
}

.burger {
    width: 25px;
    height: 30px;
    border: 0;
    position: relative;
    > span {
        width: 100%;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 3px;
        color: $black;
        background: currentColor;
        transform: translate(-50%, -50%);
        &::before,
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 3px;
            background: currentColor;
        }
        &::before {
            top: -8px;
            left: 0;
        }
        &::after {
            left: 0;
            bottom: -8px;
        }
    }
}
