// Transition generator
@function transition($list, $timing-function) {
    $transition: '';
    $i: 1;
    @each $property, $object in $list {
        $has-timing-function: false;

        $transition: $transition + ' ' + $property;
        @each $objectValues in $object {
            $string-value: inspect($objectValues);
            @if str-index($string-value, 'ease') or
                str-index($string-value, 'linear') or
                str-index($string-value, 'cubic-bezier')
            {
                $has-timing-function: true;
            }
            $transition: $transition + ' ' + $string-value;
        }

        @if not $has-timing-function {
            $transition: $transition + ' ' + $timing-function;
        }

        @if ($i != length($list)) {
            $transition: $transition + ',';
        }
        $i: $i + 1;
    }
    @return #{$transition};
}
