// Transition generator
@function transition($list, $timing-function) {
    $transition: '';
    $i: 1;
    @each $property, $object in $list {
        $has-timing-function: false;
        // @if type_of($object) == 'list' {
        $transition: $transition + ' ' + $property;
        @each $objectValues in $object {
            @if str-index($objectValues, 'ease') or
                str-index($objectValues, 'linear')
            {
                $has-timing-function: true;
            }
            $transition: $transition + ' ' + $objectValues;
        }

        @if not $has-timing-function {
            $transition: $transition + ' ' + $timing-function;
        }

        @if ($i != length($list)) {
            $transition: $transition + ',';
        }
        $i: $i + 1;
    }
    @return #{$transition};
}
